.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body{
    padding: 0px;
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff5ea;
}
h1{
    font-family: "Young Serif", serif;
    font-weight: 400;
}
h2{
    font-family: "Young Serif", serif;
    font-weight: 400;

}

.card{
    width: 450px;
    height: 1440px;
    padding: 2rem;
    margin-top: 35rem;
    margin-bottom: 1.5rem;
    background-color: #ffff;
    border-radius: 1rem;
}
.card img{
    width: 100%;
    border-radius: 1rem;
}
p{
    font-family: "Outfit", sans-serif;
    font-size: 14px;
}
#Preparation{
    width: 100%;
    background-color: rgb(251, 234, 251);
    padding: 0.25px 0.5px;
    border-radius: 1rem;
}
#PT{/*This is only for the Title of the Preparation time card*/
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    padding-left: 1rem;
    color: purple;
}
.heading{
    color:hsl(15, 53%, 31%);
}
ul{
    font-family: "Outfit", sans-serif;
    font-weight: 500;
}
li{
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    padding-right: 3px;
    padding-bottom: 3px;
}
li::marker{
    font-family: "Outfit", sans-serif;
    color:hsl(15, 53%, 31%) ;
    font-weight: 750;
}
#plist li::marker{
    color: purple;
}
.Nutrition{
    word-spacing: 300px;
}
 #Carbs{
    word-spacing: 320px;
}
#Protein{
    word-spacing: 310px;
}
#Fat{
    word-spacing: 333px;
}

